.container
{
	width: 710px;
	padding-right: 20px;
}

body
{
	background: #cff;
}

header
{
/*	padding: 10px;
*/	background: #0ff;
}

/* Logo */
.logo{
	padding-left: 0.6em;
	position: absolute;
	top: 0;
	left: 0;
}

/* simple sidebar menu */

.sidebar ul {
    margin: 0; 
    padding: 0;
    width:160px;
    list-style-type: none;
    margin-top: 120px; /*make room for header*/
}

 /* links */
.sidebar ul li a {
    text-decoration: none;
    font-size: 140%;
    color: white; 
    padding: 10.5px 11px;
    background-color: #005555;
    display:block;
}
 
.sidebar ul li a:visited {
    color: white;
}
 
.sidebar ul li a:hover, .sidebar ul li .current {
    color: white;
    background-color: #5FD367;
}


/* section */
section
{
	font-size: 120%;
	padding: 10px;
	background: #fff;
	
}

/* Content */
.content{
	position: absolute;
	top: 120px;
	left: 180px;
	margin-right: 140px;
	padding: 10px;
	background: #ff0;
}

.content img{
	padding-bottom: 4px;
}
.content a:hover{
	background: none;
	opacity: .7;
}

/* big view */
.thingy{
	max-width: 820px;
	/*margin-right: 10px;*/
}

/*a img:hover{
	text-decoration: none;
	border-style: solid;
	border-width: 4px;
	border-color: red;
}*/
/* Grid Layout */
/*.floater{
	height: 100%;
	white-space: nowrap;
}*/

/*.fileField{
	padding: 10px;
	opacity: 90;
}*/
/*.field{
	padding: 10px;
}*/
