/*@import "compass"
*/
.container
{
	width: 710px;
	padding-right: 20px;
}

body
{
	background: rgb(5,171,224); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(5,171,224,1) 0%, rgba(83,203,241,1) 60%, rgba(135,224,253,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(5,171,224,1)), color-stop(60%,rgba(83,203,241,1)), color-stop(100%,rgba(135,224,253,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(5,171,224,1) 0%,rgba(83,203,241,1) 60%,rgba(135,224,253,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(5,171,224,1) 0%,rgba(83,203,241,1) 60%,rgba(135,224,253,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(5,171,224,1) 0%,rgba(83,203,241,1) 60%,rgba(135,224,253,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(5,171,224,1) 0%,rgba(83,203,241,1) 60%,rgba(135,224,253,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#87e0fd',GradientType=0 ); /* IE6-9 */
	background-size: contain;
}

header
{
/*	padding: 10px;
*/	background: #0ff;
}

/* Logo */
.logo{
	padding-left: 0.6em;
	position: absolute;
	top: 0;
	left: 0;
}

/* simple sidebar menu */

.sidebar ul {
    margin: 0; 
    padding: 0;
    width:160px;
    list-style-type: none;
    margin-top: 120px; /*make room for header*/
    box-shadow: 8px 8px 20px 4px #333333;
}

 /* links */
.sidebar ul li a {
    text-decoration: none;
    font-size: 140%;
    color: white; 
    padding: 10px 12px;
    background-color: #005555;
    display:block;
}
 
.sidebar ul li a:visited {
    color: white;
}
 
.sidebar ul li a:hover, .sidebar ul li .current {
    color: white;
    background-color: #5FD367;
}


/* section */
section
{
	font-size: 120%;
	padding: 10px;
	background: #eeeeee;
	
}

/* Content */
.content{
	position: absolute;
	top: 120px;
	left: 190px;
	margin-right: 140px;
	padding: 10px;
	background: #F04C40;
	border-radius: 4px;
	box-shadow: 8px 8px 20px 4px #333333;
}

.content img{
	padding-bottom: 4px;
}
.content a:hover{
	background: none;
	opacity: .7;
}

/* big view */
.thingy{
	max-width: 820px;
	/*margin-right: 10px;*/
}

/*a img:hover{
	text-decoration: none;
	border-style: solid;
	border-width: 4px;
	border-color: red;
}*/
/* Grid Layout */
/*.floater{
	height: 100%;
	white-space: nowrap;
}*/

/*.fileField{
	padding: 10px;
	opacity: 90;
}*/
/*.field{
	padding: 10px;
}*/
